body {
  background-image: url(../../../asset/dashboard_back.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

@media (max-width: 450px) {
  body {
    background-size: cover !important;
  }
}
