body {
  background-image: url(../../../asset/dashboard_back.png);
  background-repeat: no-repeat;
  /* background-size: cover; */
  /* background-size: 100vw 100vh !important; */
  background-size: 100% 150%;
}

@media (max-width: 860px) {
  body {
    background-size: cover !important;
  }
}
