@font-face {
  font-family: "FSEX";
  src: url(./asset/font/FSEX/FSEX300.ttf);
}

.network-err-msg {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #861f1f;
  padding: 0 5%;
  text-align: center;
}
.network-err-msg a,
.network-err-msg a:hover {
  color: #fff;
  text-decoration: underline !important;
}
