.HeaderItem {
  font-size: 45px;
  font-family: "FSEX";
  color: white !important;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  text-shadow: 0px 0px 4px rgb(149 231 57), 0px 0px 5px rgb(149 231 57);
  cursor: pointer;
}

.PageHeader {
  width: 1400px;
}

.NavToggleBtn:focus {
  box-shadow: none;
}

.NavToggleBtn {
  border: none;
}

.HeaderInRow {
  display: flex !important;
  justify-content: center !important;
  border: 1px solid red;
}

.PageHeaderInRow {
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  width: 1350px !important;
}

.HeaderLogo,
.HeaderLogo1 {
  width: 330px;
  cursor: pointer;
}

.HeaderLogo1 {
  display: none;
}

.TogglePart {
  width: 100% !important;
  display: flex;
  justify-content: space-between;
}

.ToggleBtn {
  color: #7bac43;
  font-size: 35px !important;
  margin-right: 20px;
}

.PageHeader {
  padding: 50px 30px 0px 30px;
}

@media (max-width: 1440px) {
  .PageHeaderInRow {
    width: 95% !important;
  }
}

@media (max-width: 1110px) {
  .HeaderItem {
    font-size: 38px;
  }

  .HeaderLogo {
    width: 280px;
  }
}

@media (max-width: 991px) {
  .HeaderLogo1 {
    display: block;
    width: 200px;
  }
  .HeaderLogo {
    display: none;
  }
  .TogglePart {
    justify-content: left;
    align-items: flex-start;
  }
}

@media (max-width: 860px) {
  .HeaderItem {
    font-size: 34px;
  }

  .HeaderLogo {
    width: 240px;
  }
}

@media (max-width: 768px) {
  .HeaderItem {
    font-size: 28px;
  }

  .HeaderLogo {
    width: 200px;
  }
}

@media (max-width: 600px) {
  .ToggleBtn {
    display: block !important;
    /* font-size: 90px !important; */
    min-width: 35px;
    min-height: 35px;
  }
  .ToggleBtn {
    margin-right: -10px !important;
  }
}
