.PageMintInRow {
  width: 2200px;
}

.CardItem {
  width: 370px;
  height: 705px;
  background-image: url(../../../asset/CardBorderBack.png);
  background-size: 100% 100%;
  box-shadow: 0px 0px 18px rgb(114, 151, 59), 0px 0px 18px rgb(114, 151, 59);
}

.CardHeader {
  top: 15px;
}

.CardHeader1 {
  font-size: 30px;
  font-family: "FSEX";
  color: rgb(164, 35, 40);
  text-transform: uppercase;
  line-height: 1.2;
  text-shadow: 0px 0px 4px rgb(149 231 57), 0px 0px 5px rgb(149 231 57);
  text-align: center;
}
.CardItem1 {
  width: 370px;
  height: 700px;
  background-image: url(../../../asset/Card1.png);
  background-size: 100% 100%;
  box-shadow: 0px 0px 18px rgb(114, 151, 59), 0px 0px 18px rgb(114, 151, 59);
}

.CardItem2 {
  width: 370px;
  height: 700px;
  background-image: url(../../../asset/Card2.png);
  background-size: 100% 100%;
  box-shadow: 0px 0px 18px rgb(114, 151, 59), 0px 0px 18px rgb(114, 151, 59);
}

.CardImgHeader {
  top: 25px;
}

.CardHeader2 {
  font-size: 30px;
  font-family: "FSEX";
  color: rgb(37, 89, 107);
  text-transform: uppercase;
  line-height: 1.2;
  text-shadow: 0px 0px 4px rgb(149 231 57), 0px 0px 5px rgb(149 231 57);
  text-align: center;
}

.CounterInput {
  background-color: rgb(153, 217, 81);
  width: 150px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 15px;
  max-height: 50px;
  margin-bottom: 20px;
  bottom: 20px;
}

.CounterInpuBtn {
  width: 60px;
  text-align: center;
  color: white;
  font-size: 50px;
  padding-top: 8px;
  cursor: pointer;
  font-family: "FSEX";
  line-height: 36px;
}

.CounterInputDemo {
  width: 80px !important;
  text-align: center;
  color: white;
  font-family: "FSEX";
  font-size: 40px;
  position: relative;
  line-height: 50px;
}

.CounterInputDemo::before {
  left: 0;
  content: "";
  width: 2px;
  height: 50%;
  background-color: #5c824b;
  position: absolute;
  top: 17px;
}
.CounterInputDemo::after {
  right: 0;
  content: "";
  width: 2px;
  height: 50%;
  background-color: #5c824b;
  position: absolute;
  top: 17px;
}

.CardSubHeader {
  font-size: 20px;
  font-family: "FSEX";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  text-shadow: 0px 0px 4px rgb(149 231 57), 0px 0px 5px rgb(149 231 57);
}

.MintBtn {
  width: 180px;
  height: 70px;
  background-image: url(../../../asset/MintButton.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  cursor: pointer;
  z-index: 9;
  transition: all ease 0.5s;
  margin-top: 20px;
}

.VoiceBtn {
  cursor: pointer;
  transition: all ease 0.5s;
}

.MintBtn:hover,
.WalletBtn:hover,
.VoiceBtn:hover {
  transform: scale(1.1);
}

.WalletBtn {
  width: 180px;
  height: 70px;
  background-image: url(../../../asset/wallet.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  cursor: pointer;
  z-index: 9;
  transition: all ease 0.5s;
  margin-top: 20px;
}

.CardImg {
  width: 97%;
}

.PageMintInRow {
  gap: 250px;
}

.PageMint {
  padding: 50px 0px;
  /* padding-top: 180px !important;
  padding-bottom: 180px !important; */
}

.CardImgPart {
  height: 100%;
  width: 90%;
  justify-content: center;
  display: flex;
  align-items: flex-end;
}

.ConnectModal {
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-color: #002c1b;
  position: absolute;
  width: 750px;
  border-radius: 20px;
  padding: 30px 20px;
  font-family: "Marcellus SC";
  font-weight: 900;
  border: 1px solid white;
}

.ModalLogo {
  width: 220px;
}

.ConnectModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.ModalHeaderText {
  font-size: 30px;
}

.ConnectModalMain {
  row-gap: 40px;
}

.ModalCloseBtn {
  color: #f70101;
  cursor: pointer;
}

.ModalTitle {
  color: #94d37f;
  font-size: 60px;
}

.ModalText {
  color: #9dfdc8;
  font-size: 20px;
  text-align: center;
}

.ModalHeader {
  width: 100%;
}

@media (max-width: 2100px) {
  .PageMintInRow {
    gap: 150px !important;
  }
  .PageMintInRow {
    width: 95% !important;
  }
}

@media (max-width: 2100px) {
  .PageMintInRow {
    gap: 100px !important;
  }
  .PageMintInRow {
    width: 95% !important;
  }
}

@media (max-width: 1400px) {
  .PageMintInRow {
    width: 95%;
  }
  .CardItem,
  .CardItem1,
  .CardItem2 {
    width: 300px;
    height: 570px;
  }
}

@media (max-width: 1250px) {
  .CounterInput {
    bottom: 5px;
  }
}

@media (max-width: 1100px) {
  .CardSubHeader {
    font-size: 18px;
  }
  .PageMint {
    padding-top: 100px !important;
  }

  .PageMintInRow {
    gap: 25px !important;
  }
}

@media (max-width: 1000px) {
  .CardHeader {
    top: 18px;
  }
  .CardHeader1,
  .CardHeader2 {
    font-size: 25px;
  }

  .CardItem,
  .CardItem1,
  .CardItem2 {
    width: 280px;
    height: 500px;
  }

  .CardSubHeader {
    font-size: 17px;
  }

  .MintBtn {
    width: 130px;
    height: 50px;
    z-index: 99 !important;
  }
}

@media (max-width: 965px) {
  .CardItem,
  .CardItem1,
  .CardItem2 {
    width: 240px;
    height: 460px;
  }
}

@media (max-width: 860px) {
  .PageMintInRow {
    display: flex;
    flex-wrap: wrap;
  }
  .PageMint {
    padding-top: 40px !important;
    padding-bottom: 40px !important;
  }

  .CounterInput {
    bottom: 20px;
  }

  .CardItem1,
  .CardItem2 {
    display: none !important;
  }

  .CardItem {
    width: 300px !important;
    height: 620px !important;
  }

  .spec1,
  .spec2 {
    display: none !important;
  }

  .CardHeader1,
  .CardHeader2 {
    font-size: 30px;
  }

  .ConnectModal {
    width: 550px;
  }

  .CardSubHeader {
    font-size: 20px;
  }

  .MintBtn {
    width: 160px;
    height: 60px;
  }
}

@media (max-width: 710px) {
  .CardItem {
    width: 280px;
  }
  .CardSubHeader {
    font-size: 14px;
  }

  .MintHeaderBtn {
    width: 80%;
  }
  .form-control {
    width: 150px !important;
  }
  .input-group-addon {
    width: 50px;
  }
}

@media (max-width: 620px) {
  .CardItem {
    width: 230px;
  }

  .ConnectModal {
    width: 480px;
  }
}

@media (max-width: 520px) {
  .CardItem {
    width: 320px;
  }

  .CardHeader1,
  .CardHeader2 {
    font-size: 30px;
  }

  .CardSubHeader {
    font-size: 20px;
  }

  .ConnectModal {
    width: 90%;
  }
  .ModalTitle {
    font-size: 35px;
  }

  .ModalText {
    font-size: 15px;
  }
}

@media (max-width: 368px) {
  .CardItem {
    width: 90%;
  }
  .CardItem {
    width: 280px !important;
    height: 580px !important;
  }

  .ModalTitle {
    font-size: 35px;
  }

  .ModalText {
    font-size: 15px;
  }
}
